*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p.sub-titulo{
    font-size: 18px;
}

p.titulo{
    font-size: 20px;
}

body{
    background-color: rgb(99, 46, 168);
    color: blueviolet;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
}

img.lado{
    float: right;
    
}

p{
    text-align: justify;
    font-weight: bold;
}

a.link{
    text-decoration: none;
    color: blueviolet;
}
a.hover{
    text-decoration: underline;
    color: blueviolet;
}
